{% if page.url != '/about.html' %}
<header class="intro-header" style="background-image: url('https://goo.gl/5JGOnF')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading" style="
    padding-top: 120px;">
                        <!--<h1>bLog</h1>
                        <hr class="small">-->
                        <span class="subheading"></span>
                        <br/><br/><br/><br/><br/>
                        <span class="subheading"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% elsif page.url == '/about.html' %}
<header class="intro-header" style="background-image: url('https://goo.gl/aKgR95')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">This is what I do.</span>
                    </div>
                </div>
            </div>
        </div>
</header>
{% endif%}